@page "/managed-directories"
@model SemanticBackup.WebClient.Pages.ManagedDirectories.IndexModel
@{
    ViewData["Title"] = "Managed Directories";
    Layout = "_LayoutNoDirectory";
}
<div class="container pd-x-0">
    <div class="row row-xs">

        <div class="col-lg-8 col-xl-12 mg-t-10">
            <h2>Active Directories</h2>
            <div class="ui divider"></div>
            @{
                if (Model.CurrentDirectory == null)
                {
                    <div class="ui message icon">
                        <i class="clone outline icon"></i>
                        <div class="content">
                            You have not created any API Directory, <a href="~/managed-directories/create"> create a Directory</a> and monitor their status and statistics
                            <p align="center">
                            </p><div class="ui two buttons">
                                <a class="ui button blue" href="~/managed-directories/create"><i class="plus add icon"></i>Create Directory</a>
                                <a class="ui button " href="~/managed-directories/"><i class="list icon"></i>Active Directories</a>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <section class="ui stackable cards">

                        <div class="card">
                            <div class="content">
                                <span class="right floated mini ui image" title="Default Directory"><span class="ui mini circular green label"></span></span>
                                <div class="header">
                                    @(Model.CurrentDirectory.Name)
                                </div>
                                <div class="extra meta">
                                    @(Model.ApiEndPoint)
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="ui two buttons">
                                    <a href="~/managed-directories/edit/@(Model.CurrentDirectory.Id)" class="ui basic grey button"><i class="info icon"></i>Manage Directory</a>
                                </div>
                            </div>
                        </div>

                        @if (Model.OtherDirectories != null && Model.OtherDirectories.Count > 0)
                        {
                            foreach (var directory in Model.OtherDirectories)
                            {
                                <div class="card">
                                    <div class="content">
                                        <span class="right floated mini ui image"><span class="ui mini circular red label"></span></span>
                                        <div class="header">
                                            @(directory.Name)
                                        </div>
                                        <div class="extra meta">
                                            @(Model.ApiEndPoint)
                                        </div>
                                    </div>
                                    <div class="extra content">
                                        <div class="ui two buttons">
                                            <a href="~/managed-directories/edit/@(directory.Id)" class="ui basic grey button"><i class="info icon"></i>Manage</a>
                                            <a class="ui basic blue button" href="~/managed-directories/switch/@(directory.Id)"><i class="chart line icon icon"></i>Switch</a>

                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </section>

                }
            }






        </div>
    </div>

</div>