@using Microsoft.AspNetCore.Components
@inject NavigationManager navManager
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Meta -->
    <meta name="description" content="SEMANTIC BACKUP | BACKUP CLIENT">
    <meta name="author" content="CRUDSOFT TECHNOLOGIES">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.png">

    <title>@ViewData["Title"]</title>

    <!-- vendor css -->
    <link href="~/lib/fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="~/lib/ionicons/css/ionicons.min.css" rel="stylesheet">

    <!-- Formantic UI -->
    <link rel="stylesheet" href="~/lib/formantic/semantic.min.css">



    <!-- DashForge CSS -->
    <link rel="stylesheet" href="~/assets/css/dashforge.css">
    <link rel="stylesheet" href="~/assets/css/dashforge.dashboard.css">

    @RenderSection("Styles", required: false)

</head>
<body>

    <aside class="aside aside-fixed">
        <div class="aside-header">
            <a href="/" class="aside-logo">Semantic <span> Backup</span></a>
            <a href="" class="aside-menu-link">
                <i data-feather="menu"></i>
                <i data-feather="x"></i>
            </a>
        </div>
        <div class="aside-body">

            <div class="aside-loggedin">
                 <ul class="nav nav-aside mg-b-0">
                        <li class="nav-item"><a href="~/directories/create" class="nav-link"><i data-feather="plus"></i> <span>Add Directory</span></a></li>
                </ul>
            </div>
        </div>
    </aside>
    <div class="content ht-100v pd-0">
        <div class="content-header">
            <div class="content-search">
                <i data-feather="search"></i>
                <input type="search" class="form-control" placeholder="Search...">
            </div>
            <nav class="nav">
                <a href="" class="nav-link"><i data-feather="help-circle"></i></a>
                <a href="" class="nav-link"><i data-feather="grid"></i></a>
                <a href="" class="nav-link"><i data-feather="align-left"></i></a>
            </nav>
        </div><!-- content-header -->

        <div class="content-body">

            <!--page content-->
            @RenderBody()
            <!--End of page content-->

        </div>
        <footer class="footer tva-only-display">
            <div>
                <div class="float-left">
                    Copyright &copy; Crudsoft Technologies
                    <script>
                        document.write(new Date().getFullYear())
                    </script>
                </div>
                <div class="float-right">
                    <a href="mailto:support@crudsofttechnologies.com"> Help </a>
                </div>
            </div>
        </footer>
    </div>

    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/feather-icons/feather.min.js"></script>
    <script src="/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/lib/chart.js/Chart.bundle.min.js"></script>
    <script src="/lib/jquery.flot/jquery.flot.js"></script>
    <script src="/lib/jquery.flot/jquery.flot.stack.js"></script>
    <script src="/lib/jquery.flot/jquery.flot.resize.js"></script>

    <script src="/lib/formantic/semantic.min.js"></script>

    <script src="/assets/js/dashforge.js"></script>
    <script src="/assets/js/dashforge.aside.js"></script>
    <script src="/assets/js/dashforge.sampledata.js"></script>

    <script type="text/javascript" src="~/assets/js/time-ago.js"></script>

    @RenderSection("Scripts", required: false)


</body>
</html>
