@page "/account"
@model SemanticBackup.Pages.Account.IndexModel
@{
    ViewData["Title"] = "Account";
    Layout = "_Layout";
}
<div class="content">
    <div class="text container">
        <h4 class="ui primary header">My Account</h4>
        <div class="ui divider"></div>

        <div class="ui raised segment">
            <div class="ui relaxed divided list">
                <div class="item">
                    <i class="user outline blue icon"></i>
                    <div class="content">
                        <div class="header">Full Name</div>
                        <div>@Model.UserAccountRequest?.FullName</div>
                    </div>
                </div>
                <div class="item">
                    <i class="mail blue icon"></i>
                    <div class="content">
                        <div class="header">Email Address</div>
                        <div>@Model.UserAccountRequest?.EmailAddress</div>
                    </div>
                </div>
                <div class="item">
                    <i class="clock outline blue icon"></i>
                    <div class="content">
                        <div class="header">Timezone</div>
                        <div>@(Model._systemTimeZones?.FirstOrDefault(x => x.Id == Model.UserAccountRequest?.TimezoneId)?.ToTimezoneWithOffsetString() ?? Model.UserAccountRequest?.TimezoneId)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
