@page "/account"
@model SemanticBackup.Pages.Account.IndexModel
@{
    ViewData["Title"] = "Account";
    Layout = "_LayoutNoDirectory";
}
<div class="content">
    <div class="text container">
        <h2>My Account</h2>
        <div class="ui divider"></div>


        <form method="post" class="database-registration-page">
            <div class="ui segment attached">

                <div class="ui warning tiny message">Unable to update account details</div>

                <div class="form-group">
                    <label for="Email">Email (disabled)</label>
                    <input asp-for="userAccount.EmailAddress" type="text" class="form-control" disabled>
                </div>

                <div class="form-group">
                    <label for="Name"> Name</label>
                    <input asp-for="userAccount.FullName" type="text" class="form-control" />
                </div>


                <div class="TimezoneOffset">
                    <label for="TimezoneOffset">TimezoneOffset</label>
                    <input asp-for="userAccount.TimezoneOffset" type="text" class="form-control" />
                </div>

                <div class="Timezone">
                    <label for="Timezone">Timezone</label>
                    <input asp-for="userAccount.Timezone" type="text" class="form-control" />
                </div>

                <div class="UserAccountType">
                    <label for="UserAccountType">UserAccountType</label>
                    <input asp-for="userAccount.UserAccountType" type="text" class="form-control" />
                </div>

                <div class="Password">
                    <label for="Password">Password</label>
                    <input asp-for="userAccount.Password" type="text" class="form-control" />
                </div>

                <button type="submit" class="btn btn-primary">Update Details</button>
            </div>
        </form>



    </div>
</div>
