@page "/account/login"
@model SemanticBackup.Pages.Account.SignInModel
@{
    ViewData["Title"] = "Account | Sign In";
    Layout = "_LayoutNotLoggedIn";
}
<div class="ui text container" style="margin-top:3%">
    <div class="ui segment form">

        <section id="loginForm">
            <form method="POST" onsubmit="$('.form').addClass('loading');">
                <div class="container">
                    <div class="wd-100p">
                        <h3 class="tx-color-01 mg-b-5">Sign In</h3>
                        <p class="tx-color-02 tx-16 mg-b-30">Welcome back! Please sign in to continue.</p>
                        @{
                            if (!string.IsNullOrWhiteSpace(Model.ErrorResponse))
                            {
                                <div class="ui tiny negative message"><b>@(Model.ErrorResponse)</b></div>
                            }
                        }
                        <div class="form-group">
                            <label class="mg-b-0-f" for="Email">Email or Username</label>
                            <input class="form-control" asp-for="signInRequest.Username" autofocus placeholder="Email Address" type="text" value="" autocomplete="off" required />
                        </div>
                        <div class="form-group">
                            <label class="mg-b-0-f">Password</label>
                            <input class="form-control" asp-for="signInRequest.Password" placeholder="xxxxxxxxx" type="password" autocomplete="off" required />
                        </div>

                        <input type="submit" value="Sign in" class="btn btn-brand-02 btn-block" />

                        <div class="divider-text">OR</div>
                        <button type="button" onclick="alert('Feature coming soon');" class="ui left labeled icon fluid disabled button"><i class="google icon"></i> Sign In with Google</button>
                    </div>
                </div>
            </form>
        </section>

    </div>
</div>