@page "/resource-groups/create"
@model SemanticBackup.WebClient.Pages.ResourceGroups.CreateModel
@{
    ViewData["Title"] = "Resource Groups | Create Resource Group";
    Layout = "_LayoutNoDirectory";
}

<div class="container pd-x-0">

    <div class="row row-xs">

        <div class="col-lg-8 col-xl-12 mg-t-10">
            <h2>Create Resource Group</h2>
            <div class="ui divider"></div>
            <form asp-page="RegisterDatabase" method="post">
                <div class="ui segment attached form">
                    <div class="field">
                        <label>Resource Group Name</label>
                        <input asp-for="ResourceGroupRequest.Name" autofocus="true" autocomplete="off" placeholder="e.g. Production Group" type="text" required>
                    </div>
                    <div class="field">
                        <label>Resource Group Timezone</label>
                        <select asp-for="ResourceGroupRequest.TimeZone" class="ui fluid search small dropdown timezone-dropdown-search" required>
                            @{
                                if (Model.TimeZoneCollections != null && Model.TimeZoneCollections.Count > 0)
                                {
                                    foreach (var timezone in Model.TimeZoneCollections)
                                    {
                                        <option value="@(timezone.Value)">@(timezone.Text)  (@(timezone.Value))</option>
                                    }
                                }
                            }
                            <option selected value="E. Africa Standard Time">(UTC+03:00) Nairobi (E. Africa Standard Time) (Default)</option>
                        </select>
                    </div>

                    <div class="field">
                        <label>Maximum Running (Bots)</label>
                        <select asp-for="ResourceGroupRequest.MaximumRunningBots" class="ui fluid small dropdown threads-dropdown-search" required>
                            <option value="1">1 Single Bot (Unlimited CPU/Resources)</option>
                            <option value="2">2 Concurrent Bots (Unlimited CPU/Resources)</option>
                            <option value="3">3 Concurrent Bots (Unlimited CPU/Resources)</option>
                            <option selected value="4">4 Concurrent Bots (Unlimited CPU/Resources)</option>
                            <option value="5">5 Concurrent Bots (Unlimited CPU/Resources)</option>
                            <option value="6">6 Concurrent Bots (Unlimited CPU/Resources)</option>
                            <option value="7">7 Concurrent Bots (Unlimited CPU/Resources)</option>
                            <option value="8">8 Concurrent Bots (Unlimited CPU/Resources)</option>
                            <option value="9">9 Concurrent Bots (Unlimited CPU/Resources)</option>
                            <option value="10">10 Concurrent Bots (Unlimited CPU/Resources)</option>
                            <option value="11">11 Concurrent Bots (Unlimited CPU/Resources)</option>
                            <option value="12">12 Concurrent Bots (Unlimited CPU/Resources)</option>
                            <option value="50">Maximum None-Cluster Bots (Unlimited CPU/Resources)</option>
                        </select>
                    </div>

                    <p align="center">
                        <button class="ui fluid button blue" type="submit">
                            <i class="chart line icon"></i>
                            Create Resource Group
                        </button>
                    </p>

                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{
<script type="text/javascript">
    $(".timezone-dropdown-search").dropdown({allowAdditions: false});
</script>
}