@page "/resource-groups/create"
@model SemanticBackup.WebClient.Pages.ResourceGroups.CreateModel
@{
    ViewData["Title"] = "Resource Groups | Create Resource Group";
    Layout = "_LayoutNoDirectory";
}

<div class="container pd-x-0">

    <div class="row row-xs">

        <div class="col-lg-8 col-xl-12 mg-t-10">
            <h2>Create Resource Group</h2>
            <div class="ui divider"></div>
            <form asp-page="RegisterDatabase" method="post">
                <div class="ui segment attached form">
                    <div class="field">
                        <label>Resource Group Name</label>
                        <input asp-for="ResourceGroupRequest.Name" autofocus="true" autocomplete="off" placeholder="e.g. Production Group" type="text" required>
                    </div>
                    <p align="center">
                        <button class="ui fluid button blue" type="submit">
                            <i class="chart line icon"></i>
                            Create Resource Group
                        </button>
                    </p>

                </div>
            </form>
        </div>
    </div>
</div>