@page "/resource-groups/switch/{id}"
@model SemanticBackup.WebClient.Pages.ResourceGroups.SwitchModel
@{
    ViewData["Title"] = "Switch Resource Group";
    Layout = "_LayoutNoDirectory";
}
<div class="ui message icon">
    <i class="clone outline icon"></i>
    <div class="content">
      Ooops! we encountered an error during switching to the specified <a href="~/resource-groups/">Resource Group</a>. Could be because the resource group doesn't exists or is Invalid :-()
        <p align="center">
        </p><div class="ui two buttons">
            <a class="ui small button basic" href="~/resource-groups/"><i class="list icon"></i>Resource Groups</a>
        </div>
    </div>
</div>