@page "/resource-groups"
@model SemanticBackup.Pages.ResourceGroups.IndexModel
@{
    ViewData["Title"] = "Resource Groups";
    Layout = "_LayoutNoDirectory";
}
<div class="container pd-x-0">
    <div class="row row-xs">

        <div class="col-lg-8 col-xl-12 mg-t-10">
            <h2>Resource Groups</h2>
            <div class="ui divider"></div>
            @{
                if (Model.ResourceGroups == null || Model.ResourceGroups.Count == 0)
                {
                    <div class="ui message icon">
                        <i class="clone outline icon"></i>
                        <div class="content">
                            You have not created any Resource Group, <a href="/resource-groups/create"> create a Resource Group</a> and monitor their status and statistics
                            <p align="center">
                            </p><div class="ui two buttons">
                                <a class="ui button blue" href="/resource-groups/create"><i class="plus add icon"></i>Create Resource Group</a>
                                <a class="ui button " href="/resource-groups/"><i class="list icon"></i>Resource Groups</a>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <section class="ui stackable cards">

                        @foreach (var resourceGrp in Model.ResourceGroups)
                        {
                            <div class="card">
                                <div class="content">
                                    <a title="Delete resource Group" href="/resource-groups/delete/@(resourceGrp.Name)" class="right floated mini ui image"><span class="ui mini red icon label"><i class="trash icon"></i></span> </a>
                                    <div class="header">
                                        @(resourceGrp.Name)
                                    </div>
                                    <div class="extra meta">
                                        <div class="ui divider"></div>
                                        <span><b><i class="bolt icon"></i> Max Bots:</b> @string.Format("{0:N0} concurrent", resourceGrp.MaximumRunningBots)</span><br />
                                        <span><b><i class="file archive outline icon"></i> Compression:</b> @string.Format("{0}", resourceGrp.CompressBackupFiles ? "ZIP" : "(none)")</span>
                                    </div>
                                </div>
                                <div class="extra content">
                                    <div class="ui two buttons">
                                        <a class="ui basic blue button" href="/resource-groups/@(resourceGrp.Name)/dashboard"><i class="chart line icon icon"></i>Manage</a>
                                        <a class="ui basic button" href="/resource-groups/edit/@(resourceGrp.Name)"><i class="edit icon"></i>Edit</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </section>

                }
            }

        </div>
    </div>

</div>