@page "/resource-groups"
@model SemanticBackup.Pages.ResourceGroups.IndexModel
@{
    ViewData["Title"] = "Resource Groups";
    Layout = "_LayoutNoDirectory";
}
<div class="container pd-x-0">
    <div class="row row-xs">

        <div class="col-lg-8 col-xl-12 mg-t-10">
            <h2>Resource Groups</h2>
            <div class="ui divider"></div>
            @{
                if (Model.ResourceGroups == null || Model.ResourceGroups.Count == 0)
                {
                    <div class="ui message icon">
                        <i class="clone outline icon"></i>
                        <div class="content">
                            No resource groups were found. Add entries under <b>BackupConfigurations</b> to start.
                        </div>
                    </div>
                }
                else
                {
                    <section class="ui stackable cards">

                        @foreach (var resourceGrp in Model.ResourceGroups)
                        {
                            <div class="card">
                                <div class="content">
                                    <div class="header">
                                        @(resourceGrp.Name)
                                    </div>
                                    <div class="extra meta">
                                        <div class="ui divider"></div>
                                        <span><b><i class="bolt icon"></i> Max Bots:</b> @string.Format("{0:N0} concurrent", resourceGrp.MaximumRunningBots)</span><br />
                                        <span><b><i class="file archive outline icon"></i> Compression:</b> @string.Format("{0}", resourceGrp.CompressBackupFiles ? "ZIP" : "(none)")</span>
                                    </div>
                                </div>
                                <div class="extra content">
                                    <div class="ui one buttons"><a class="ui basic blue button" href="/resource-groups/@(resourceGrp.Name)/dashboard"><i class="chart line icon icon"></i>Open Dashboard</a></div>
                                </div>
                            </div>
                        }
                    </section>

                }
            }

        </div>
    </div>

</div>
